<!-- https://qiita.com/tomy0610/items/cb12347a44015a443105 -->
<header>
  <mat-toolbar>
    <!--<a href="./"><img src="assets/sdvx5.ico" alt="Angular"></a>-->
    <button mat-button><a class="no-color-change" routerLink="/top">Top</a></button>

    <button mat-button [matMenuTriggerFor]="difficult">難易度表</button>
    <mat-menu #difficult="matMenu">
      <button mat-menu-item routerLink="/table/lv17s">lv17</button>
      <button mat-menu-item routerLink="/table/difficult">lv18</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="user">ユーザページ</button>
    <mat-menu #user="matMenu">
      <button mat-menu-item routerLink="/userinfo">myページ</button>
      <button mat-menu-item routerLink="/useredit">設定</button>
    </mat-menu>
  </mat-toolbar>
</header>