<!--
<div class="box">
    <div class="box-title">このサイトについて</div>
    <p>SOUND VOLTEXのランクS難易度表です。<br></p>
</div>
<br>
-->

<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>このサイトについて</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-main">
    <br>
    <p>SOUND VOLTEXのランクS難易度表です</p>
    <br>
  </mat-card-content>
</mat-card>

<br>


<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>利用について</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-main">
    <br>
    <p>ご利用にはGoogleアカウントが必須となります。<br>ログインページに遷移頂き、Googleアカウントにてログインをお願いいたします。</p>
    <br>
  </mat-card-content>
</mat-card>

<br>

<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>スコアの登録について</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-main">
    <br><p>
      1.難易度表 -> lv17 or lv18 に移動し、csvファイルをアップロードしてください。 <br>
      2.csvファイルがアップロードされると表が更新されます。</p>
    <br>
  </mat-card-content>
</mat-card>

<br>

<mat-card class="mat-card-top">
  <mat-card-header>
    <mat-card-title>アカウントの編集について</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-card-main">
    <br><p>1.ログイン後、ユーザページ -> 設定 に移動し、必要事項を入力後[更新]を押してください。</p><br>
  </mat-card-content>
</mat-card>
