.back-image {
  background-image: url(../../../assets/lv18s.jpeg);
  background-size: contain;
}

.lv18-table {
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius:  5px;
  margin: 0 auto;
  width: 60%;
}


.container {
  display: table;
  /*margin: auto;*/
  /*width: 600px;*/
  width: 80%;
}

.container > div{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}  

  .default{
    width: 20em;
    height: 50px;
    background: #ED3B2B;
  }

  .s{
    width: 20em;
    height: 50px;
    background: green;
  }

  .head{
    width: 100%;
    height: 50px;
    background: #ED3B2B;
  }


.box {
  text-align: center;
  display: flex;
  justify-content:center;
  padding:  10px;             /* 余白指定 */
}
.box .child-box {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  padding: 10px;
  color:  #fff;               /* 文字色 */
  margin:  10px;              /* 外側の余白 */
  border-radius:  5px;        /* 角丸指定 */
  width: 15%;
}


.music-box {
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  margin:  10px; 
  border-radius:  5px;  
  width: 15%;
  margin: 0 auto;
}


.difficult-card {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}



p {
  font-size: 6px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*margin: 60px auto 40px;*/
}


th {
  background: #e9727e;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
  /* width: 2.5em;*/
  text-align:center;
}



.tds {
  background: #CCFFFF;
  border: solid 1px #ccc;
  padding: 5px;
  width: 8em;
  margin: 0 auto;
}

.tdnots {
  background: #ffcccc;
  border: solid 1px #ccc;
  padding: 5px;
  width: 8em;
  margin: 0 auto;
}
 
@media screen and (max-width: 640px) {
  .last td:last-child {
    border-bottom: solid 1px #ccc;
    width: 100%;
  }
  .tbl-r02 {
    width: 80%;
  }

  p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin: 60px auto 40px;*/
  }

  .tbl-r02 th {
    background: #e9727e;
    border: solid 1px #ccc;
    color: #fff;
    padding: 10px;
    width: 2em;
  }
  .tbl-r02 td {
    border-bottom: none;
    display: block;
    /*width: 100%;*/
    position: relative;
  }
  /*
  .tbl-r02 th {
    background: #e9727e;
    border: solid 1px #ccc;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
  }*/
  
  .tds {
    background: #CCFFFF;
    border: solid 1px #ccc;
    padding: 5px;
    display: block;
    width: 20em;
  }
  .tdnots {
    background: #ffcccc;
    border: solid 1px #ccc;
    padding: 5px;
    display: block;
    width: 20em;
  }
}