<div class="box">
  <!--
  <p style="color:black;">ファイルアップロード</p>
  <div id="input-area">
    <input #fileUpload hidden type="file" value="" (change)="selectFile($event)"/>
    <button
      (click)="fileUpload.click()"
      type="button"
      mat-button color="primary">ファイル選択
    </button>
    <p *ngIf="selectedFile">アップロードファイル: {{selectedFile.name}}</p>
    <button [disabled]="!selectedFile"
      mat-stroked-button color="primary"
      (click)="upload();">Upload
    </button>
  </div>
  -->
</div>

<!-- csvファイルアップロード欄 -->


<mat-card class="difficult-card">
  <p style="color:black;">データ入力</p>
  <form [formGroup]="csvStringData" (ngSubmit)="onLoadData(csvStringData.value)">
  <mat-form-field appearance="fill">
    <mat-label>csv</mat-label>
    <mat-hint>コピーしたcsvデータを貼り付けてください</mat-hint>
    <textarea style="color:black;" matInput id="csv" type="text" formControlName="csv" [formControl]="csvControl">
    </textarea>
  </mat-form-field>
  <br><br>
  <button class="edit-button" type="submit" mat-raised-button color="primary">データ更新</button>
  </form>
</mat-card>

<br>

<!-- データ表示-->
<table class="tbl-r02">
  <tr>
    <th>+7</th>
    <td *ngFor="let difficult_18p7 of difficults_18p7">
      <div [ngSwitch]="difficult_18p7.rank">
        <div class='tds' *ngSwitchCase="'S'"
          [class.selected]="difficult_18p7 === selectedDifficult_18p7"
          (click)="onSelect_18p7(difficult_18p7)">
          <p>{{difficult_18p7.name}}<br>{{difficult_18p7.rank}}</p>
        </div>
        <div class='tdnots' *ngSwitchDefault
          [class.selected]="difficult_18p7 === selectedDifficult_18p7"
          (click)="onSelect_18p7(difficult_18p7)">
          <p>{{difficult_18p7.name}}<br>{{difficult_18p7.rank}}</p>
        </div>
      </div>
    </td>
  </tr>
</table>

  
<div *ngIf="selectedDifficult_18p7">
  <!--<div class="music-box">-->
  <mat-card class="difficult-card">
    {{selectedDifficult_18p7.name}}<br>
    score: {{selectedDifficult_18p7.score}}
  </mat-card>
</div>


<!--
<h4 style="text-align:center">+10</h4>
<div class="container">
  <div *ngFor="let difficult_1810 of difficults_1810">
    <div [ngSwitch]="difficult_1810.rank">

      <div class="s" *ngSwitchCase="'S'"
        [class.selected]="difficult_1810 === selectedDifficult_1810"
        (click)="onSelect_1810(difficult_1810)">
        <p>{{difficult_1810.name}}<br>{{difficult_1810.rank}}</p>
      </div>
      <div class="default" *ngSwitchDefault
        [class.selected]="difficult_1810 === selectedDifficult_1810"
        (click)="onSelect_1810(difficult_1810)">
        <p>{{difficult_1810.name}}<br>{{difficult_1810.rank}}</p>
      </div>
    </div>
  </div>
</div>
-->


<table class="tbl-r02">
  <tr>
    <th>+6</th>
    <td *ngFor="let difficult_18p6 of difficults_18p6">
      <div [ngSwitch]="difficult_18p6.rank">
        <div class='tds' *ngSwitchCase="'S'"
          [class.selected]="difficult_18p6 === selectedDifficult_18p6"
          (click)="onSelect_18p6(difficult_18p6)">
          <p>{{difficult_18p6.name}}<br>{{difficult_18p6.rank}}</p>
        </div>
        <div class='tdnots' *ngSwitchDefault
          [class.selected]="difficult_18p6 === selectedDifficult_18p6"
          (click)="onSelect_18p6(difficult_18p6)">
          <p>{{difficult_18p6.name}}<br>{{difficult_18p6.rank}}</p>
        </div>
      </div>
    </td>
  </tr>
</table>

  
<div *ngIf="selectedDifficult_18p6">
  <div class="music-box">
    {{selectedDifficult_18p6.name}}<br>
    score: {{selectedDifficult_18p6.score}}
  </div>
</div>


